<section>
    <div>
        <app-dropdown
            [options]="businessOptions"
            placeholder="Select Business..."
        />
        <app-dropdown
            [options]="branchOptions"
            placeholder="Select Branch..."
        />
        <div [ngClass]="{ 'horizontal-line': true }"></div>
        <app-dropdown
            [options]="businessOptions"
            placeholder="Select Business..."
        />
        <app-dropdown
            [options]="branchOptions"
            placeholder="Select Branch..."
        />
        <div [ngClass]="{ 'horizontal-line': true }"></div>
        <app-dropdown
            [options]="businessOptions"
            placeholder="Select Business..."
        />
        <app-dropdown
            [options]="branchOptions"
            placeholder="Select Branch..."
        />
        <div [ngClass]="{ 'horizontal-line': true }"></div>
        <app-dropdown
            [options]="businessOptions"
            placeholder="Select Business..."
        />
        <app-dropdown
            [options]="branchOptions"
            placeholder="Select Branch..."
        />
        <div [ngClass]="{ 'horizontal-line': true }"></div>
    </div>
    <div [ngClass]="{ 'vertical-line': true }"></div>
</section>
