@import "../../app.component.scss";
.link {
    background: #fff0;
    color: $primary-color;
    text-decoration: underline;
}

.btn {
    background: $primary-color;
    color: $bg-color;
    height: 2em;
    padding: 0.5em 1em;
}

.icon-only {
    background: $primary-color;
    color: $bg-color;
    overflow: clip;
    button {
        padding: 0;
        width: 0;
    }

    &:hover {
        button {
            padding: 0em 2em;
            width: auto;
            background: $primary-color;
            color: $bg-color;
        }
    }
}

div {
    margin: 0.25em;
    padding: 0.5em;
    border: none;
    filter: brightness(1);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    height: 2em;
    max-width: calc(100% - 0.5em);
    button {
        cursor: pointer;
        border: none;
        flex-grow: 1;
        background: #fff0;
        font-weight: 600;
        text-decoration: none;
    }
    &:hover {
        filter: drop-shadow(2px 4px 6px $primary-color);
    }
    .hide {
        width: 0;
        padding: 0;
        margin: 0;
    }
}

.icon {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 2em;
    max-height: 2em;
    overflow: clip;
    &::ng-deep {
        * {
            width: 2em;
        }
    }
}
