<div>
    <h2>Signup</h2>
    <h3>Person</h3>
    <app-input
        placeholder="first name"
        [value]="person().first_name"
        type="text"
    />
    <app-input
        placeholder="last name"
        [value]="person().last_name"
        type="text"
    />
    <app-input
        placeholder="contact number"
        [value]="person().contact_number"
        type="text"
    />
    <app-input
        placeholder="national id"
        [value]="person().national_id"
        type="text"
    />
    <app-input placeholder="eMail" [value]="person().email" type="text" />
    <app-input
        placeholder="password"
        [value]="password()"
        [type]="passwordType"
    >
        <span
            trailingIcon
            [ngClass]="{ eye: true }"
            (click)="onPasswordTypeToggle()"
        >
            👁
        </span>
    </app-input>

    <h3>Address</h3>
    <app-input
        placeholder="House Number"
        [value]="person().address?.house_number"
        type="text"
    />
    <app-input
        placeholder="Street"
        [value]="person().address?.street"
        type="text"
    />
    <app-input
        placeholder="City"
        [value]="person().address?.city"
        type="text"
    />
    <app-input
        placeholder="State"
        [value]="person().address?.state"
        type="text"
    />
    <app-dropdown
        [options]="countriesOptions"
        placeholder="Country..."
        [active]="selectedCountry"
    />
    <app-input
        placeholder="Zip Code"
        [value]="person().address?.zip"
        type="text"
    />
</div>
