@import "../../app.component.scss";

div {
    position: relative;
    margin: -2em 0 0 0;
    background-color: none;
    border: none;
    max-width: 19em;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    overflow-x: none;

    h2 {
        position: sticky;
        top: -1em;
        left: 0;
        right: 0;
        padding: 1em;
        width: 100%;
        background: linear-gradient(
            to bottom,
            $solid-bg 50%,
            $bg-color 75%,
            transparent 100%
        );
        z-index: 2;
        border-radius: 0;
    }

    app-input {
        z-index: 1;
        width: 100%;
    }

    h3 {
        align-self: start;
    }

    app-dropdown {
        z-index: 1;
        width: 100%;
    }
}

.eye {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
