<main>
    <app-input placeholder="First Name...">
        <span leadingIcon>
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6WwgH7Nl5_AW9nDCnR2Ozb_AU3rkIbSJdAg&s"
                alt="Leading Icon"
            />
        </span>
        <span trailingIcon>
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6WwgH7Nl5_AW9nDCnR2Ozb_AU3rkIbSJdAg&s"
                alt="Trailing Icon"
            />
        </span>
    </app-input>
    <app-dropdown [options]="dropdownoptions()"></app-dropdown>
    <app-button text="yoyoyo"> </app-button>

    <app-login></app-login>
</main>
<router-outlet />
