@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
$primary-color: #222222;
$bg-color: #e9e9e990;
$grey-color: #b2b2b280;
* {
    transition: all 300ms ease-in-out;
    padding: 0;
    margin: 0;
    rotate: 0deg;
    background-color: none;
    color: $primary-color;
    border-radius: 8px;
    /* font-size: 16px; */
    font-family: "Inter", sans-serif;
}

input {
    font-size: 1em;
}
h1 {
    font-size: 3.25em;
    font-weight: bold;
}

main {
    min-height: 99dvh;
    min-width: 99dvw;
    height: 100dvh;
    overflow: clip;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #758694;
    color: $primary-color;
    border-radius: 0;
    justify-content: space-between;
}
