<div>
    <h1>Welcome</h1>
    <div>
        <section
            [ngClass]="{
                row: activePage == 'login',
                column: activePage == 'signup',
            }"
        >
            <svg
                width="125"
                height="125"
                viewBox="0 0 125 125"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                    cx="62.5"
                    cy="62.5"
                    r="61.5"
                    fill="#E9E9E9"
                    fill-opacity="0.8"
                    stroke="#222222"
                    stroke-width="2"
                />
                <path
                    d="M87.5 90.625V84.375C87.5 81.0598 86.183 77.8804 83.8388 75.5362C81.4946 73.192 78.3152 71.875 75 71.875H50C46.6848 71.875 43.5054 73.192 41.1612 75.5362C38.817 77.8804 37.5 81.0598 37.5 84.375V90.625"
                    stroke="#222222"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M62.5 59.375C69.4036 59.375 75 53.7786 75 46.875C75 39.9714 69.4036 34.375 62.5 34.375C55.5964 34.375 50 39.9714 50 46.875C50 53.7786 55.5964 59.375 62.5 59.375Z"
                    stroke="#222222"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>

            <app-login *ngIf="activePage == 'login'" />
            <app-signup *ngIf="activePage == 'signup'" />
        </section>
        <div>
            <app-button
                *ngIf="activePage == 'signup'"
                text="Signup"
                type="btn"
                (click)="onLoginClick()"
            />
            <app-button
                *ngIf="activePage == 'login'"
                text="Signup"
                type="link"
                (click)="activePage = 'signup'"
            />
            <app-button
                *ngIf="activePage == 'login'"
                text="Login"
                type="btn"
                (click)="onSignupClick()"
            />
            <app-button
                *ngIf="activePage == 'signup'"
                text="Login"
                type="link"
                (click)="activePage = 'login'"
            />
        </div>
    </div>
</div>
