@import "../app.component.scss";
.nav-margin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .icon {
        padding: 1em;
        border: 0.125em solid $primary-color;
        border-radius: 1em 1em 0 0;
        background-color: $bg-color;
        border-bottom: 0;
        width: 3.75em;
        svg {
            padding: 0;
            margin: 0;
        }
    }
    .border-bottom {
        border-bottom: 0.125em solid $primary-color;
    }
    .rotate-up {
        rotate: 180deg;
    }
    .rotate-down {
        rotate: 0deg;
    }
    .invisible {
        height: 0;
        margin: 0;
        padding: 0;
        overflow: clip;
        border: none;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $bg-color;
        border: 0.125em solid $primary-color;
        padding: 0.5em;
    }
}
