@import "../../app.component.scss";
div {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1em;
    border: 2px solid $primary-color;
    border-radius: 0.5em;
    min-height: 32px;
    margin: 0.25em;
    input {
        padding: 0;
        margin: 0;
        border: 0;
        outline-offset: 0;
        outline-width: 0;
        width: 100%;
    }
    .icon {
        cursor: pointer;
        aspect-ratio: 1;
        display: flex;
        max-width: 2em;
        overflow: clip;
        * {
            max-width: 2em;
        }
    }
}
