<div>
    <span [ngClass]="{ icon: true }">
        <ng-content select="[leadingIcon]"></ng-content>
    </span>
    <input
        [attr.type]="type()"
        [attr.min]="min?.()"
        [attr.max]="max?.()"
        [attr.minlength]="minlength?.()"
        [attr.maxlength]="maxlength?.()"
        [attr.placeholder]="placeholder() | titlecase"
        [attr.value]="value()"
    />
    <span [ngClass]="{ icon: true }">
        <ng-content class="icon" select="[trailingIcon]"></ng-content>
    </span>
</div>
